.has-bg-img {
    background-image: url("https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190_960_720.jpg");
    height: 850px;
    background-size: cover;
    background-position: 50%;

}

.button {
    background-color: black;
    color: lightblue;
}

.button:hover {
    opacity: 1.0;
    color: lightblue;
}

.navbar {
    text-align: center;
    background-color: black;
    color: lightblue;
    font-weight:bold;
}

.navbar-item:hover {
    background-color: black;
    color: lightblue;
}

.navbar-item {
    align-content: center;
    color: lightblue;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190_960_720.jpg");
    background-size: cover;
    background-position: 50%;
}

#aboutMe {
    text-align: center;
    padding-top: 50px;
}

#projects {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contactMe {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.linkedIn {
    align-content: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#photo {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
  } 

.email {
    text-align: left;
}